apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: {{ .Values.appName }}-wf-tp
  namespace: argo
  labels:
    app: transformation
    component: transformation
    transformation: ingress2event-time 
spec:
  entrypoint: transformation
  templates:
  - name: transformation
    inputs:
      parameters:
      - name: argument
      - name: value
    metrics:
      prometheus:
      - name: result_counter
        help: "Count of step execution by result status"
        labels:
        - key: name
          value: {{ .Values.appName }}
        - key: component
          value: "transformation"
        - key: status
          value: "{{`{{status}}`}}"    # Argo variable in `labels`
        counter:
          value: "1"
    volumes:
      - name: transformation-cm
        configMap:
          name: {{ .Values.appName }}-cm
    metadata:
      annotations:
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/role: "{{ .Values.secretName }}-authentication-reader"
        vault.hashicorp.com/auth-path: "auth/kubernetes-{{ .Values.environment }}"
        vault.hashicorp.com/agent-inject-secret-credentials.ini: "{{ .Values.secretName }}-authentication/data/credentials"
        vault.hashicorp.com/agent-inject-template-credentials.ini: |
          {{`{{-`}} with secret "{{ .Values.secretName }}-authentication/data/credentials" {{`-}}`}}
              {{`[Authorization]
              tenant_id = {{ .Data.data.tenant_id }}
              client_id = {{ .Data.data.client_id }}
              client_secret = {{ .Data.data.secret }}
              {{- end -}}`}}
    container:
      image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
      command: ["python", "-m", "transform_ingress2event_time.transform", "{{`{{inputs.parameters.argument}}`}}", "{{`{{inputs.parameters.value}}`}}"]
      volumeMounts:
        - name: transformation-cm
          mountPath: "/etc/osiris/"
          readOnly: true
